<header class="basic__header basic__grid">
  <h1>Emulsify is an open-source tool for creating reusable components and clear guidelines for teams.</h1>
</header>
<main class="basic__grid" style="margin-bottom: 100px;">
  <div class="content basic__content">
    <h2>Unify your websites and teams with a design system.</h2>
    <p>Complex organizations need a design system that simplifies development, encourages consistency, reduces maintenance effort, and scales quickly and affordably — without hampering flexibility for individual developers or departments.</p>
    <h2>Give your developer and designers powerful tools all in one place.</h2>
    <p>Emulsify doesn’t just conveniently join your component library and style guide, but includes all of the workflow tools necessary for prototyping, testing, checking accessibility, and documenting.</p>
  </div>

  <aside class="basic__aside">
    <h3>Stay up to date with the latest news from Emulsify</h3>

    <div class="form-item {% if warning %}form-item--warning{% endif %}">
      <label class="form-item__label" for="sample">
        <span class="form-item__label-text">Name</span>
        <input type="text" id="sample" class="form-item__input" placeholder="John Doe">
      </label>
    </div>

    <div class="form-item {% if warning %}form-item--warning{% endif %}">
      <label class="form-item__label" for="sample">
        <span class="form-item__label-text">Email</span>
        <input type="text" id="sample" class="form-item__input" placeholder="person@place.net">
      </label>
      <p class="form-item__description">We will never sell your email. Promise!</p>
    </div>

    {% include "@components/button/button.twig" with {
      buttonAdditionalClasses: ['button-block'],
      buttonLabel: 'Sign Up'
    } %}
  </aside>
</main>
