<footer class="footer">
	<div class="footer-content">
		{% include "@components/docs/examples/assets/_logo.twig" %}
		{% embed "@components/menus/social-menu/social-menu.twig" with {
			menu_modifiers: ['footer']	
		}%}
			{% block list__content %}
				{% for item in data.social_menu_items %}
					{% include "@components/menus/social-menu/_social-menu-item.twig" %}
				{% endfor %}
			{% endblock %}
		{% endembed %}
	</div>
	<nav>
		<h3 class="footer-h3">QUICK LINKS & RESOURCES</h3>
		<ul class="footer-links">
			<li>Accessibility Statement</li>
			<li>Advising</li>
			<li>Careers</li>
			<li>Consumer Info/Achievement</li>
			<li>Contact Us</li>
			<li>COVID-19 Response</li>
			<li>Departments A-Z</li>
			<li>Diversity, Equity and Inclusion</li>
			<li>Find People</li>
			<li>Information Technology</li>
			<li>LGBTQ+</li>
			<li>Nondiscrimination and Anti-Harassment Policy</li>
			<li>Privacy Policy</li>
		</ul>
	</nav>

</footer>
