.form-item--radios,
.form-item--radio__item {
  @include list-reset;
}

.form-item--radios {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--radio-gap);
}

.form-item--radio__item--label {
  color: var(--radio-label);
}

.form-item--radio__item--label__disabled {
  color: var(--radio-label-disabled);
}
