/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 var(--spacing-lg)) {
  line-height: var(--line-height-normal);
  margin: $margin;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  border-left: 4px solid var(--color-text-body);
  font-family: var(--font-families-secondary);
  font-size: var(--font-size-h5);
  padding: var(--spacing-lg) var(--spacing-xl);
}

.blockquote cite {
  display: block;
  font-family: var(--font-families-primary);
  font-size: var(--font-size-small);
  font-style: normal;
  margin-top: var(--spacing-lg);
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

pre {
  margin: 0;
  background-color: var(--c-background-section);
}
