@use '../../../foundation/breakpoints/breakpoints' as *;
@use '../../../foundation/motion/motion' as *;
@use '../../../foundation/functions/color' as *;
@use '../../../foundation/spacing/spacing' as *;

.main-nav__menu-list-wrapper {
  @include transition;

  & {
    @include animate-hidden;

    & {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: var(--main-menu-color-bg);
      overflow: auto;
    }
  }

  @include breakpoint('medium') {
    @include animate-show;

    & {
      position: relative;
      top: auto;
      width: auto;
      left: auto;
      border: none;
      overflow: visible;
      min-height: auto;
    }
  }

  // Open subnav on click.
  .menu--open > &,
  .sub--open > & {
    @include animate-show;

    & {
      max-height: 100vh;
    }
  }

  // Open subnav on hover.
  .main-nav__item--with-sub.main-nav__item--level-0:hover > & {
    @include breakpoint('medium') {
      @include animate-show;

      & {
        max-height: 100vh;
      }
    }
  }

  &--level-0 {
    .menu--open & {
      height: 100vh;

      @include breakpoint('medium') {
        height: auto;
        max-height: 100vh;
      }
    }
  }

  &--level-1 {
    @include animate-hidden;
    @include transition($transition-duration: 500ms);

    & {
      position: relative;
      overflow: hidden;
      top: auto;
      margin: 0;
      max-height: 0;
    }

    @include breakpoint('small-down') {
      border-top: 1px solid var(--button-color-bkg);

      .sub--open & {
        overflow: visible;
      }
    }

    @include breakpoint('medium') {
      position: absolute;
      background-color: var(--main-menu-color-dropdown-bg);
      margin: 0;
      top: 100%;
    }
  }

  &--level-2 {
    @include animate-hidden;
    @include transition($transition-duration: 500ms);

    & {
      position: relative;
      overflow: hidden;
      top: auto;
      padding: 0;
      margin: 0;
      background-color: var(--main-menu-color-dropdown-bg);
      border-top: 1px solid var(--button-color-bkg);
      border-bottom: 1px solid var(--button-color-bkg);
      max-height: 0;
    }

    @include breakpoint('small-down') {
      border-bottom: 0;

      .sub--open & {
        overflow: visible;
      }
    }
  }
}
