@use '../../../foundation/breakpoints/breakpoints' as *;
@use '../../../foundation/motion/motion' as *;

.main-nav__item {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  &:not(:last-child) {
    border-bottom: 1px solid var(--button-color-bkg);

    @include breakpoint('medium') {
      border-bottom: 0;
    }
  }
}
