<div class="form-item {% if warning %}form-item--warning{% endif %}">
  <label class="form-item__label" for="sample">
    <span class="form-item__label-text">Label</span>
    <input type="text" id="sample" class="form-item__input" placeholder="person@place.net">
  </label>
  <p class="form-item__description">Help text.</p>
</div>
