<div>
	<h2 class="sb-title">Breakpoint Tokens</h2>

	<ul class="sb-list" style="overflow: scroll;">
		{% for breakpoint, value in _context.breakpoint %}
			<li class="sb-list__item" style="min-width: max-content;">
				<span class="sb-list__label">{{breakpoint}}</span>
				<span class="sb-list__value">{{value.value}}px</span>
				<span class="sb-list__custom-property">
					<code class=" sb-custom-property-name">var(--breakpoint-{{breakpoint}})</code>
				</span>
				<span class="sb-list__visualization" style="width: {{value.value}}px; height: 25px; background: var(--color-sb-visualization); display: block; border-radius: var(--radius-sm);"></span>
			</li>
		</li>
	</li>
{% endfor %}</ul></div>
