/* Nav */
.main-nav {
  display: none;

  @include medium {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-md);
  }

  &--open {
    background-color: clr(background);
    display: block;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;
  }
}

/* UL */
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include medium {
    border-bottom: none;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: var(--main-menu-color-dropdown-bg);
  width: 100%;

  @include medium {
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: var(--spacing-sm) 0;
    position: absolute;
    top: 37px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
  }

  &:hover {
    @include medium {
      .main-menu__link--sub {
        &.active,
        &:active,
        &:hover {
          color: clr(background);
          background-color: clr(accent-high);
        }
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include medium {
    display: none;

    /* Never shown on large screens */
  }
}
