/* LI */
.main-menu__item {
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include medium {
    border-top: none;
    display: inline-block;

    /* Only top level */
    &:not(.main-menu__item--sub):hover {
      background-color: var(--main-menu-color-link-bg);

      & > .main-menu--sub {
        display: block;
      }
    }
  }

  &:hover {
    .main-menu__link::after {
      color: var(--main-menu-color-link-label-hover);
    }
  }
}

.main-menu__item--with-sub:hover > a {
  background: var(--main-menu-color-link-bg-hover);
  color: var(--main-menu-color-link-label-hover);
}

/* Expand Button */
.expand-sub {
  background-color: var(--main-menu-color-link-bg);
  cursor: pointer;
  display: block;
  width: 20%;
  color: var(--main-menu-color-link-label);
  position: relative;

  @include medium {
    display: none;
  }

  /* Down triangle */
  &::after {
    border: 15px solid;
    border-bottom-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    display: block;
    margin-right: -12px;
    margin-top: -6px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 0;
  }

  /* See main-menu.js */
  &--open {
    background-color: var(--main-menu-color-link-bg);
    color: var(--main-menu-color-link-label);

    &::after {
      border-top-color: transparent;
      border-bottom: 15px solid;
      margin-top: -20px;
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include medium {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid clr(highlight);
    }
  }
}
