/* A */
.main-menu__link {
  background: var(--main-menu-color-link-bg);
  color: var(--main-menu-color-link-label);
  display: block;
  font-size: var(--font-size-h5);
  line-height: var(--line-heights-none);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;

  // &--with-sub {
  //   width: 80%;
  // }

  @include medium {
    border-bottom: none;
    display: inline-block;
    padding: var(--spacing-sm);
    position: relative;
    width: auto;
    transition: all .15s;

    &.active,
    &:active,
    &:hover {
      background: blue; //var(--main-menu-color-link-bg-hover);
      color: red; //var(--main-menu-color-link-label-hover);
    }

    // &::after {
    //   color: clr(text-inverse);
    //   display: inline-block;
    //   content: '>';
    //   margin-left: 0.5rem;
    // }

    // &--sub::after {
    //   display: none;
    // }

    // &:hover {
    //   color: var(--main-menu-color-link-label-hover);

    //   &::after {
    //     color: var(--main-menu-color-link-label-hover);
    //   }
    // }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  background-color: var(--main-menu-color-dropdown-bg);
  color: var(--main-menu-color-dropdown-label);
  padding-left: var(--spacing-sm);
  font-weight: normal;

  @include medium {
    color: var(--main-menu-color-dropdown-label);
    display: block;
    padding: var(--spacing-sm) var(--spacing-sm);
  }

  &:hover {
    background-color: var(--main-menu-color-dropdown-bg-hover);
    color: var(--main-menu-color-dropdown-label-hover);
  }
}

.main-menu--sub-2 {
  background-color: var(--main-menu-color-dropdown-bg);
}

.main-menu__link--sub-2 {
  padding-left: var(--spacing-sm);
}