/* A */
.main-menu__link {
  background: var(--main-menu-color-link-bg);
  color: var(--main-menu-color-link-label);
  display: block;
  font-size: var(--font-size-h5);
  line-height: var(--line-height-none);
  padding: var(--spacing-md) var(--spacing-lg);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;

  @include medium {
    border-bottom: none;
    display: inline-block;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      background: var(--main-menu-color-link-bg-hover);
      color: var(--main-menu-color-link-label-hover);
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  background-color: var(--main-menu-color-dropdown-bg);
  color: var(--main-menu-color-dropdown-label);
  font-size: var(--font-size-small);
  padding: var(--spacing-md) var(--spacing-lg);
  font-weight: bold;

  @include medium {
    color: var(--main-menu-color-dropdown-label);
    display: block;
  }

  &:hover {
    background-color: var(--main-menu-color-dropdown-bg-hover);
    color: var(--main-menu-color-dropdown-label-hover);
  }
}

.main-menu--sub-2 {
  background-color: var(--main-menu-color-dropdown-bg);
}

.main-menu__link--sub-2 {
  padding-left: var(--spacing-sm);
}
