.breadcrumb {
  @include list-reset;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: var(--breadcrumb-text-default);
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: var(--breadcrumb-text-hover);
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.75rem;

  &::after {
    content: '/';
  }

  &:last-child {
    color: var(--breadcrumb-text-default);

    &::after {
      content: '';
    }
  }
}

.breadcrumb_link:active {
  color: var(--breadcrumb-text-default);
}
