
{% set tab__modifiers = tab__modifiers|default([]) %}

<div id="{{ tab__content__id }}" {{ bem(tab__content__base_class, tab__modifiers, tab__content__blockname, [current_class])}}>
  {% block tab__content__components %}
    {{ tab__content }}
  {% endblock %}
</div>
