/* Tab Navigation */
.tabs__nav {
  @include list-reset;

  border-bottom: 1px solid var(--tabs-color-border-bottom);
  padding-bottom: var(--spacing-md);

  @include large {
    display: flex;
  }
}

/* Tab Content (hidden only in full #tabs js version) */
.tabs__tab {
  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__content {
  padding: 1.5rem;
}

/* No-js fallback */
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

/* Drupal Local Tasks variant */
.tabs__nav--local-tasks {
  margin: var(--spacing-lg) 0 var(--spacing-md);
  padding: 0;
}
