@forward './tab';
@use '../../foundation/breakpoints/breakpoints' as *;
@use '../../foundation/utility/utility' as *;
@use '../../foundation/motion/motion' as *;

/* Tab navigation wrapper */
.tabs__wrapper {
  position: relative;
  overflow: hidden;
}

/* Tab Navigation */
.tabs__nav {
  @include list-reset;

  & {
    border-bottom: 1px solid var(--tabs-color-border-bottom);
    padding-bottom: var(--spacing-md);
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: auto;
    position: static;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint('medium') {
    display: flex;
  }
}

/* Tab Content (hidden only in full #tabs js version) */
.tabs__tab {
  flex: 0 0 auto;
  align-items: flex-end;
  align-content: flex-end;
  display: flex;
  position: relative;
}

.tabs__tab__content {
  padding: 1.5rem;
  display: none;

  &.is-active {
    display: block;
  }
}

/* No-js fallback */
.tabs.no-js {
  .tabs__tab.is-active {
    display: block;
  }
}

/* tab overflow scroll buttons */
.tabs__scroll {
  @include transition(opacity);

  & {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    cursor: pointer;
  }

  &--left {
    left: 0;
    background: linear-gradient(
      90deg,
      var(--tabs-color-bg-default) 75%,
      transparent 100%
    );
    border-radius: var(--button-radius) 0 0 var(--button-radius);

    [data-scroll-indicator='left'] &,
    [data-scroll-indicator='both'] & {
      opacity: 1;
      visibility: visible;
    }

    [data-scroll-indicator='right'] & {
      @include animate-hidden;
    }
  }

  &--right {
    right: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--tabs-color-bg-default) 25%
    );
    border-radius: 0 var(--button-radius) var(--button-radius) 0;

    [data-scroll-indicator='right'] &,
    [data-scroll-indicator='both'] & {
      opacity: 1;
      visibility: visible;
    }

    [data-scroll-indicator='left'] & {
      @include animate-hidden;
    }
  }

  .scroll__icon {
    display: flex;
    height: calc(var(--size-xl) + var(--size-lg) + var(--size-md));
    width: calc(var(--size-xl) + var(--size-lg) + var(--size-md));
  }

  .icon {
    fill: var(--button-color-bkg);
  }
}
