.token-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.token-card {
  border-radius: 3px;
  padding: 1rem;
  width: 150px;
  height: 150px;
  line-height: 1;

  span {
    display: block;
  }

  code {
    font-size: 0.8rem;
  }
}
