<div class="cover" style="background-image: url({{_context.backgroundImage}})">
  <img src="{{_context.logo}}" alt="Four Kitchens" class="cover__logo"/>
  <h1 class="cover__title">Starter UI Kit</h1>
  <p class="cover__photo-source">Photo by Glenn Carstens-Peters on Unsplash</p>
</div>
