.inline-menu {
  @include list-reset;

  display: flex;
  flex-flow: column wrap;
  gap: var(--spacing-md);

  @include medium {
    flex-flow: row wrap;
    gap: var(--spacing-lg);
    margin-bottom: 1em;
  }
}

.inline-menu__link {
  @include link;
}
