@use '../../../foundation/breakpoints/breakpoints' as *;
@use '../../../foundation/utility/utility' as *;
@use '../../link/link.scss' as *;

.inline-menu {
  @include list-reset;

  display: flex;
  flex-flow: column wrap;
  gap: var(--spacing-md);

  @include breakpoint('medium') {
    flex-flow: row wrap;
    gap: var(--spacing-lg);
    margin-bottom: 1em;
  }
}

.inline-menu__link {
  @include link;
}
