{#
 # Available variables:
 # - logo__url
 # - output_image_tag: Whether or not to output an <img> tag instead of a <picture> tag.
 # - image_src: path to image file
 # - image_alt: alt text on image
#}

{% set logo__base_class = logo__base_class|default('logo') %}

{% set logo__attributes = {
  class: bem(logo__base_class, logo__modifiers, logo__blockname),
} %}

<div {{ add_attributes(logo__attributes) }}>
  {% embed "@components/link/link.twig" with {
    link__base_class: 'logo__link',
    link__url: logo__url|default('/'),
  } %}
    {% block link__content %}
      {% include "@components/image/responsive-image.twig" with {
        output_image_tag: true,
        image__src: directory ? '/' ~ directory ~ '/assets/images/logo.png' : 'logo.png',
        image__alt: 'Logo',
        responsive_image_blockname: 'logo',
      } %}
    {% endblock %}
  {% endembed %}
</div>
