ul {
  @include list-reset;

  line-height: var(--line-height-normal);
  margin-bottom: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  list-style-type: disc;
}

ol {
  @include list-reset;

  line-height: var(--line-height-normal);
  margin-bottom: var(--spacing-lg);
  padding-left: var(--spacing-lg);
  list-style-type: decimal;
}

.text-field {
  li {
    padding-left: var(--spacing-sm);
  }
}
