/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: var(--breakpoint-sm);

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper($container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(#{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2)));
    padding-right: calc(#{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2)));
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin heading-xl($font-family: var(--font-family-heading),
  $font-size: var(--font-size-h1),
  $line-height: var(--line-heights-none),
  $color: var(--color-text-heading),
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: var(--spacing-xl) 0 var(--spacing-lg)) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  text-wrap: balance;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-large($font-family: var(--font-family-heading),
  $font-size: var(--font-size-h2),
  $line-height: var(--line-heights-none),
  $color: var(--color-text-heading),
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: var(--spacing-xl) 0 var(--spacing-lg)) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  text-wrap: balance;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium($font-family: var(--font-family-heading),
  $font-size: var(--font-size-h3),
  $line-height: var(--line-heights-tight),
  $color: var(--color-text-heading),
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 700,
  $margin: var(--spacing-xl) 0 var(--spacing-lg)) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  text-wrap: balance;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small($font-family: var(--font-family-heading),
  $font-size: var(--font-size-h4),
  $line-height: var(--line-heights-tight),
  $color: var(--color-text-heading),
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: var(--spacing-xl) 0 var(--spacing-lg)) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  text-wrap: balance;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs($font-family: var(--font-family-heading),
  $font-size: var(--font-size-h5),
  $line-height: var(--line-heights-tight),
  $color: var(--color-text-heading),
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: 600,
  $margin: var(--spacing-2xl) 0 var(--spacing-lg)) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;
  text-wrap: balance;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin link {
  color: var(--link-color-default);
  transition: all .15s;

  &:hover {
    color: var(--link-color-hover);
  }
}