<div style="font-size:var(--font-size-body); max-width: 50rem; line-height:var(--line-heights-normal); background-color: var(--colors-white); color: var(--colors-black);">
  <img src="{{_context.logo}}" alt="Four Kitchens" class="sb-cover__logo"/>
  <h1 style="font-size: var(--font-size-h1); color: var(--colors-green-500); font-family: var(--font-families-secondary);">UI Kit Vision</h1>
  <p style="font-size: var(--font-size-lead); line-height:var(--line-heights-normal);">The Four Kitchens UI Kit is a tool for designers and front-end engineers to build high-quality user interfaces effectively and efficiently while maintaining WCAG 2.1 AA standards and project performance goals.</p>

  <p>The Four Kitchens UI Kit gives users access to a library of prebuilt tokens and components that follow accessibility best practices and are easy to customize. The components in the kit are fully responsive, carefully designed, and can be implemented for modification for every project.</p>

  <p>The goals of the Four Kitchens UI Kit are to:</p>
  <ul>
    <li>Create efficiency in the user interface design process</li>
    <li>Establish consistency in user interface design</li>
    <li>Maintain high accessibility standards</li>
  </ul>

  <p>The Four Kitchens UI Kit has two distinct building blocks: the Figma and the code repo. These two items are kept in alignment for a seamless experience.</p>

  <p>The Creative Team uses the Four Kitchens UI Kit for every design project, modifying it to create great user interfaces. When a new component is made for a project, that new component is added back into the kit for future reuse. Tokens are managed in Figma and shared with the code repo.</p>

  <p>The Frontend Engineering team uses the Four Kitchens UI Kit for every project. With tokens synced from Figma and a comprehensive component library, the Frontend team focuses their energy on building custom interfaces, streamlining performance, etc.
  </p>

  <p>What the Four Kitchens UI Kit is not:</p>
  <ul>
    <li>Handcuffs. If using the kit is a barrier to a successful project, do what you need to for your project to be successful and provide feedback on why the kit was a barrier.</li>
    <li>A "default" visual design. Our visual design work is tailor-made for each of our clients and projects.</li>
  </ul>
</div>
