.block-quote {
  width: 573px;
  padding: var(--block-quote-padding-x) 0;
}

.block-quote__quote {
  border-left: none;
  margin: 0;

  p {
    font-size: var(--font-size-small);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-secondary-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-0);
    text-transform: var(--text-case-none);
    text-decoration: var(--text-decoration-none);
  }
}

.block-quote__blockquote {
  [data-block-quote-style='bar-left'] & {
    padding-left: var(--block-quote-padding-x);
    border-left: var(--size-md) solid var(--color-text-body);
  }

  [data-block-quote-style='bar-right'] & {
    padding-right: var(--block-quote-padding-x);
    border-right: var(--size-md) solid var(--color-text-body);
    text-align: right;
  }

  [data-block-quote-style='quote-left'] & {
    position: relative;

    &::before {
      content: '“';
      position: relative;
      font-size: var(--font-size-display);
      line-height: var(--line-height-normal);
      color: var(--color-text-body);
    }

    .block-quote__quote p {
      margin: var(--block-quote-padding-y) var(--paragraph-spacing-0);
    }
  }
}

.block-quote__attribution {
  font-size: var(--font-size-caption);
  color: var(--color-text-body);
}
