.block-quote {
  padding: var(--block-quote-padding-x);
}

.block-quote__figure {
  [data-block-quote-style='bar-left'] & {
    // padding-left: var(--spacing-lg);
    // border-left: $space-one-half solid clr(accent);
  }

  [data-block-quote-style='bar-right'] & {
    // padding-right: $space;
    // border-right: $space-one-half solid clr(accent);
    text-align: right;
  }

  [data-block-quote-style='quote-left'] & {
    position: relative;
    // padding-left: $space-triple;

    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 4em;
      line-height: 0.8;
      color: var(--colors-emulsify-blue-1000);
    }
  }
}

.block-quote__quote {
  border-left: none;
  margin: 0;

  p {
    font-size: var(--font-size-small);
    font-family: var(--font-families-secondary);
    font-weight: var(--font-weights-secondary-regular);
    line-height: var(--line-heights-normal);
    letter-spacing: var(--letter-spacing-0);
    text-indent: var(--paragraph-spacing-0);
    text-transform: var(--text-case-none);
    text-decoration: var(--text-decoration-none);
  }
}

.block-quote__attribution {
  font-size: var(--font-size-caption);
  color: clr(text);
}
