<div class="sb-cover" style="background-image: url({{_context.backgroundImage}})">

  <h1 class="sb-cover__title">
    <img src="{{_context.logo}}" alt="Emulsify" class="sb-cover__logo"/>
    UI Kit
  </h1>
  <p style="display: flex; gap: var(--spacing-lg);">
    <a class="button" href="https://www.figma.com/file/eo87m50yAw3P8iXTypxw4I/Four-Kitchens-UI-Kit?node-id=22073%3A26">Figma UI Kit</a>
    <a class="button" href="https://github.com/fourkitchens/emulsify-synthesize">Github</a>
  </p>
</div>
