<div class="sb-cover" style="background-image: url({{_context.backgroundImage}})">

	<h1 class="sb-cover__title">
		<span class="sb_lozenge">BETA</span>
		Emulsify UI Kit
	</h1>
	<p style="display: flex; gap: var(--spacing-lg);">
		<a class="button" href="https://www.figma.com/community/file/1141071510618977331">Figma UI Kit</a>
		<a class="button" href="https://github.com/emulsify-ds/emulsify-ui-kit">Github</a>
	</p>
</div>
