<div class="sb-cover" style="background-image: url({{_context.backgroundImage}})">
  <img src="{{_context.logo}}" alt="Four Kitchens" class="sb-cover__logo"/>
  <h1 class="sb-cover__title">Starter UI Kit</h1>
  <p style="display: flex; gap: var(--spacing-lg);">
    <a class="button" href="https://www.figma.com/file/eo87m50yAw3P8iXTypxw4I/Four-Kitchens-UI-Kit?node-id=22073%3A26">Figma UI Kit</a>
    <a class="button" href="https://github.com/fourkitchens/emulsify-synthesize">Github</a>
  </p>
  <p class="sb-cover__photo-source">Photo by Glenn Carstens-Peters on Unsplash</p>
</div>
