.status__list {
  @include list-reset;

  margin-bottom: var(--spacing-lg);
}

.status {
  display: block;
  margin-bottom: var(--spacing-md);
  padding: var(--spacing-lg);
  text-align: center;

  &--info {
    background-color: var(--status-color-info-bg);
    color: var(--status-color-info-label);
  }

  &--danger {
    background-color: var(--status-color-danger-bg);
    color: var(--status-color-danger-label);
  }

  &--success {
    background-color: var(--status-color-success-bg);
    color: var(--status-color-success-label);
  }

  &--warning {
    background-color: var(--status-color-warning-bg);
    color: var(--status-color-warning-label);
  }
}
