{% set buttonClasses = ['button'] %}
{% if buttonAdditionalClasses %}
  {% set buttonClasses = buttonClasses|merge(buttonAdditionalClasses) %}
{% endif %}
{% set buttonLabel = buttonLabel|default('Button') %}

<a href="#" class="{{buttonClasses|join(' ')}}">{{buttonLabel}}</a>
