{% set buttonClasses = ['button'] %}
{% if buttonAdditionalClasses %}
  {% set buttonClasses = buttonClasses|merge(buttonAdditionalClasses) %}
{% endif %}

<a href="#" class="{{buttonClasses|join(' ')}}">Button</a>
