@use '../../../foundation/breakpoints/breakpoints' as *;
@use '../../../foundation/motion/motion' as *;
@forward './menu-toggle/menu-toggle';

// Set flex for only top level.
[class$='__menu-list'] {
  display: flex;
}

// Reset list styles.
[class*='__menu-list'] {
  list-style: none;
  margin-block: 0;
}

[aria-expanded='false'] {
  + [class$='__menu-list-content'] {
    @include animate-hidden;
  }
}

[aria-expanded='true'] {
  // Set flex for only top level.
  + [class$='__menu-list-content']:not(.sub--open) {
    display: flex;
  }
}

.menu-with-toggle {
  [class*='menu-list-content']
    :not([class*='menu-list-content--menu-group']):not(.sub--open) {
    @include animate-hidden;
  }
}
