.social-menu {
  @include list-reset;

  display: flex;
  flex-flow: column nowrap;
  gap: var(--spacing-sm);
}

.social-menu__link {
  @include link;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--spacing-sm);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.social-menu__icon {
  height: var(--size-lg);
  width: var(--size-lg);
  fill: currentColor;
}
