.example {
  .dynamic {
    background: var(--color-primary-lighter);
    text-align: center;
    padding: var(--spacing-2xl) var(--spacing-xl);

    .dynamic-h2 {
      @include heading-large;

      font-size: var(--font-size-display);
      margin: 0 auto var(--spacing-xl);
    }

    .dynamic-h3 {
      @include heading-medium;

      font-size: var(--font-size-h2);
      margin: var(--spacing-xl) auto var(--spacing-xl);
    }

    .dynamic-h2,
    .dynamic-p {
      max-width: 70vw;
      margin-inline: auto;
    }
  }

  .dynamic-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xl);
    max-width: 1000px;
    margin: var(--spacing-2xl) auto 0;
  }
}
