<div class="example">
	{% include "@components/docs/examples/assets/_header.twig" %}
	<main>
		<section class="hero" style="background-image: url({{_context.heroImage}})">
			<h1>Future of Education</h1>
			<h2>Innovative Approaches for Tomorrow&rsquo;s Learners</h2>
		</section>

		<section class="watch">
			<h2 class="watch-h2">The Ones to Watch</h2>
			<p>In an environment where innovation and inspiration are in no short supply, meet the trailblazers.</p>
			<div class="watch-grid">
				{% for card in data.cards %}
					{% include "@components/card/card.twig" with {
						card__image__output_image_tag: card.card__image__output_image_tag,
						card__image__src: watchImages[loop.index0],
						card__image__alt: card.card__image__alt,
						card__heading: card.card__heading,
						card__subheading: card.card__subheading,
						card__body: card.card__body,
						card__link__text: card.card__link__text,
						card__link__url: card.card__link__url,
					} %}
				{% endfor %}
			</div>
		</section>

		<section class="celebrating">
			<h2 class="celebrating-h2">Celebrating Academic Excellence: Top Stories from Our University</h2>
			<div class="celebrating-grid">
				{% for card in data.celebratingCards %}
					{% include "@components/card/card.twig" with {
						card__image__output_image_tag: card.card__image__output_image_tag,
						card__image__src: celebratingImages[loop.index0],
						card__image__alt: card.card__image__alt,
						card__heading: card.card__heading,
						card__subheading: card.card__subheading,
						card__body: card.card__body,
						card__link__text: card.card__link__text,
						card__link__url: card.card__link__url,
						card__modifiers: card.card__modifiers,
					} %}
				{% endfor %}
			</div>
		</section>
	</main>
	{% include "@components/docs/examples/assets/_footer.twig" %}

</div>
