// External Libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';

html {
  box-sizing: border-box;
}

body {
  color: var(--colors-text-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Components

@import 'tokens/**/*.scss';
@import 'stylesheets/**/*.scss';
@import 'storybook-styles/**/*.scss';
@import 'docs/**/*.scss';
@import 'components/**/*.scss';
