// External Libraries
@import '~normalize.css/normalize';
@import '~breakpoint-sass/stylesheets/breakpoint';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  box-sizing: border-box;
}

body {
  color: var(--color-text-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Components

@import 'tokens/**/*.scss';
@import 'stylesheets/**/*.scss';
@import 'storybook-styles/**/*.scss';
@import 'docs/**/*.scss';
@import 'components/**/*.scss';
