@import '../tokens/tokens';

@mixin sbListReset() {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.sb-show-main {
  background: var(--colors-sb-background);
  color: var(--colors-sb-text-body);
  font-family: var(--font-families-primary), serif !important;
}

.sb-title {
  color: var(--colors-sb-text-heading);
  text-transform: uppercase;
  font-size: var(--font-size-hero);
  margin: 0 0 var(--spacing-xxl);
  position: relative;
  font-family: var(--font-families-primary), serif !important;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--spacing-lg));
    border-bottom: 10px solid var(--colors-sb-text-heading);
    width: 100px;
  }
}

.sb-subtitle {
  font-family: var(--font-families-primary), serif !important;
  font-size: var(--font-size-h4);
  opacity: var(--opacity-80);
  margin: var(--spacing-xxl) 0 var(--spacing-md);
}

#root > div {
  padding: var(--spacing-xl);
}

.sb-list {
  @include sbListReset();

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-xl) !important;
    padding-bottom: var(--spacing-xl) !important;
    padding-left: var(--spacing-md) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__label {
    width: 100px;
  }

  &__value {
    width: 100px;
  }

  &__custom-property {
    width: 250px;
  }
}

.sb-custom-property-name {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.1);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
}

.sb-spacing-wrapper {
  display: flex;
  flex-flow: row nowrap;
  background-color: #d606c1;
}

.sb-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: bottom right;
  padding: var(--spacing-xxl) !important;
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;

  &__logo {
    max-width: 300px;
    display: block;
  }

  &__title {
    font-family: var(--font-families-secondary), serif !important;
    font-size: var(--font-size-colossus);
    margin: 0;
    line-height: var(--line-heights-none);
  }
}
