@import '../tokens/tokens';

@mixin sb-list-reset() {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.sb-show-main {
  background: var(--color-sb-background);
  // color: var(--color-sb-text-body);
  font-family: var(--font-family-body), serif !important;
}

.sb-title {
  color: var(--color-sb-text-heading);
  text-transform: uppercase;
  font-size: var(--font-size-hero);
  margin: 0 0 var(--spacing-2xl);
  position: relative;
  font-family: var(--font-family-body), serif !important;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: calc(-1 * var(--spacing-lg));
    border-bottom: 10px solid var(--color-sb-text-heading);
    width: 100px;
  }
}

.sb-subtitle {
  font-family: var(--font-family-body), serif !important;
  font-size: var(--font-size-h4);
  opacity: var(--opacity-80);
  margin: var(--spacing-2xl) 0 var(--spacing-md);
}

#root > div {
  padding: var(--spacing-xl);
}

.sb-list {
  @include sb-list-reset;

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-xl) !important;
    padding-bottom: var(--spacing-xl) !important;
    padding-left: var(--spacing-md) !important;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
  }

  &__label {
    width: 100px;
  }

  &__value {
    width: 100px;
  }

  &__custom-property {
    width: 250px;
  }
}

.sb-custom-property-name {
  white-space: nowrap;
  background-color: rgb(0 0 0 / 10%);
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
}

.sb-spacing-wrapper {
  display: flex;
  flex-flow: row nowrap;
  background-color: #d606c1;
}

.sb-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: bottom right;
  padding: var(--spacing-2xl) !important;
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;

  &__logo {
    max-width: 300px;
    display: block;
  }

  &__title {
    color: var(--color-white);
    font-family: var(--font-family-body), serif !important;
    font-size: var(--font-size-colossus);
    line-height: var(--line-height-none);
    margin: 0;
  }
}

.sb_lozenge {
  background: var(--color-primary-light);
  color: var(--color-white);
  font-size: var(--font-size-small);
  line-height: var(--line-height-none);
  display: block;
  border-radius: var(--radius-lg);
  width: max-content;
  padding: var(--spacing-sm) var(--spacing-lg);
}
