@use 'sass:math';
@use '../../foundation/breakpoints/breakpoints' as *;
@use '../../foundation/spacing/spacing' as *;
@use '../../foundation/typography/typography' as *;

// Define grid columns and their widths
$grids: (
  equal: (1: 1,
    2: 0.5,
    3: 0.3333,
    4: 0.25,
    5: 0.2,
    6: 0.1666,
  ),
);
$focus: (
  1: 1,
  2: 0.75,
  3: 0.5,
  4: 0.33,
);

// Utilize custom properties so they can be re-scoped
:root {
  --grid-spacing: var(--spacing-xl);
}

.grid {
  width: 100%;

  @container (min-width: #{$medium}) {
    display: flex;
    flex-flow: row wrap;
  }

  &[data-grid-spacing='no-spacing'] {
    --grid-spacing: 0rem;
  }

  &[data-grid-spacing='half-spacing'] {
    --grid-spacing: #{var(--spacing-lg)};

    @include breakpoint('medium') {
      --grid-spacing: #{calc(var(--spacing-lg) * 1.5)};
    }
  }

  &[data-grid-spacing='one-spacing'] {
    --grid-spacing: #{var(--spacing-xl)};

    @include breakpoint('medium') {
      --grid-spacing: #{calc(var(--spacing-lg) * 2.5)};
    }
  }

  &[data-grid-spacing='two-spacing'] {
    --grid-spacing: #{calc(var(--spacing-lg) * 3)};

    @include breakpoint('medium') {
      --grid-spacing: #{var(--spacing-2xl)};
    }
  }

  &[data-grid-spacing='three-spacing'] {
    --grid-spacing: #{var(--spacing-2xl)};

    @include breakpoint('medium') {
      --grid-spacing: #{calc(var(--spacing-lg) * 6)};
    }
  }

  +.grid {
    @include margin-gap-top(1);
    @include section-padding-top(1);
  }

  >.grid {
    padding: 0;
    margin: 0;
    border: 0;
  }

  >*:not(.grid__inner):not(:empty) {
    width: 100%;
    flex: 1 1 100%;
    margin-bottom: calc(var(--grid-spacing) / 2);
  }
}

.grid__inner {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  container-type: inline-size;
  gap: var(--grid-spacing);
  align-items: stretch;

  [data-grid-columns='1']>& {
    flex-flow: column nowrap;

    @container (max-width: #{$xsmall}) {
      gap: calc(var(--grid-spacing) / 2);
    }
  }

  .place-holder__content {
    font-size: 18px;
  }

  // exposed view filters.
  >form,
  >.exposed-filters {
    flex: 1 1 100%;
  }
}

.grid__inner>*:not(form, .exposed-filters) {
  position: relative;

  [data-grid-separators] &:not(:first-child) {
    border-top: 1px solid;
    border-color: var(--color-primary-default);

    [data-component-theme*='dark'] & {
      border-color: var(--color-primary-dark);
    }
  }

  [data-grid-separators] &:last-child {
    border-bottom: 1px solid;
    border-color: var(--color-primary-default);
    padding-bottom: var(--grid-spacing);
  }

  [data-grid-separators][data-grid-columns='1'] &:last-child {
    @container (max-width: #{$xsmall}) {
      padding-bottom: calc(var(--grid-spacing) / 2);
    }
  }

  [data-grid-separators] &:not(:only-child):not(:first-child) {
    padding-top: var(--grid-spacing);
  }

  [data-grid-separators][data-grid-columns='1'] &:not(:only-child):not(:first-child) {
    @container (max-width: #{$xsmall}) {
      padding-top: calc(var(--grid-spacing) / 2);
    }
  }

  >.teaser:not(:first-child) {
    padding-top: var(--grid-spacing);
  }

  // Loop through grid map to apply column specific styles
  // for both grid types.
  @each $type, $widths in $grids {
    @each $column, $width in $widths {
      $cadence: $column * 2;
      $start: $column + 1;
      $difference: 1 - $width;
      $percentage: #{$width * 100}#{'%'};

      // Set column widths and generate offset layout.
      [data-grid-columns='#{$column}']>&:not(:empty) {
        width: 100%;

        &:has(+ :empty) {
          flex: 1;
        }

        @container (min-width: #{$small}) {
          width: calc(50% - calc(var(--grid-spacing) / 2));

          &:only-child {
            width: 100%;
          }
        }

        @container (min-width: #{$medium}) {
          width: calc(#{$percentage} - #{calc(var(--grid-spacing) * #{$difference})
        });

        &:nth-child(#{math.div($cadence, 2)}n + 1) {
          padding-left: 0;
        }

        &:nth-child(#{math.div($cadence, 2)}n + #{$column}) {
          padding-right: 0;
        }

        &:only-child {
          width: 100%;
        }
      }

      &:first-child,
      &:nth-child(#{$column}),
      &:nth-child(#{$column - 1}),
      &:nth-child(#{$column - 2}) {
        @container (min-width: #{$medium}) {}
      }
    }

    .grid--half-spacing[data-grid-columns='#{$column}']>& {
      @container (min-width: #{$medium}) {
        width: calc(#{$percentage} - calc(var(--grid-spacing) * calc(#{$difference} / 2)));

        &:nth-child(#{math.div($cadence, 2)}n + 1) {
          padding-left: 0;
        }

        &:nth-child(#{math.div($cadence, 2)}n + #{$column}) {
          padding-right: 0;
        }
      }
    }
  }
}

// TODO: Rewrite the following column focus styles to utilize an @each loop.
// https://app.clickup.com/t/36718269/NDSU-430
// Two Column Focus
[data-grid-type='focus'][data-grid-columns='2'][data-grid-column-focus='1']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(2n + 1) {
      width: calc(70% - calc(var(--grid-spacing) / 2));
    }

    &:not(:nth-child(2n + 1)) {
      width: calc(30% - calc(var(--grid-spacing) / 2));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='2'][data-grid-column-focus='2']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(2n + 2) {
      width: calc(70% - var(--grid-spacing));
    }

    &:not(:nth-child(2n + 2)) {
      width: calc(30% - var(--grid-spacing));
    }
  }
}

// Three Column Focus
[data-grid-type='focus'][data-grid-columns='3'][data-grid-column-focus='1']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(3n + 1) {
      width: 50%;
    }

    &:not(:nth-child(3n + 1)) {
      width: calc(25% - var(--grid-spacing));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='3'][data-grid-column-focus='2']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(3n + 2) {
      width: 50%;
    }

    &:not(:nth-child(3n + 2)) {
      width: calc(25% - var(--grid-spacing));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='3'][data-grid-column-focus='3']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(3n + 3) {
      width: 50%;
    }

    &:not(:nth-child(3n + 3)) {
      width: calc(25% - var(--grid-spacing));
    }
  }
}

// Four Column Focus
[data-grid-type='focus'][data-grid-columns='4'][data-grid-column-focus='1']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(4n + 1) {
      width: calc(40% - var(--grid-spacing));
    }

    &:not(:nth-child(4n + 1)) {
      width: calc(20% - var(--grid-spacing));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='4'][data-grid-column-focus='2']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(4n + 2) {
      width: calc(40% - var(--grid-spacing));
    }

    &:not(:nth-child(4n + 2)) {
      width: calc(20% - var(--grid-spacing));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='4'][data-grid-column-focus='3']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(4n + 3) {
      width: calc(40% - var(--grid-spacing));
    }

    &:not(:nth-child(4n + 3)) {
      width: calc(20% - var(--grid-spacing));
    }
  }
}

[data-grid-type='focus'][data-grid-columns='4'][data-grid-column-focus='4']>& {
  @container (min-width: #{$medium}) {
    &:nth-child(4n + 4) {
      width: calc(40% - var(--grid-spacing));
    }

    &:not(:nth-child(4n + 4)) {
      width: calc(20% - var(--grid-spacing));
    }
  }
}

// One Column
[data-grid-columns='1']>&:not(:empty) {
  width: 100%;
}

[data-grid-columns='1'][data-grid-spacing='two-spacing']>&:not(:first-child) {
  padding-top: calc(var(--grid-spacing) * 0.5);
}
}
