{% set grid__base_class = 'grid' %}
{% set grid__modifiers = grid__modifiers|default([]) %}
{% set grid__item__alignment = grid__item__alignment|default('standard') %}
{% set grid__item__count = grid__item__count|default('even') %}
{% set grid__separators = grid__separators|default(false) %}
{% set grid__spacing = grid__spacing|default('') %}
{% set grid__attributes = grid__attributes|default([]) %}
{% set grid__inner__attributes = grid__attributes|default([]) %}

{% set grid__attributes = grid__attributes|merge({
  'class': bem(grid__base_class, grid__modifiers, grid__blockname),
  'data-grid-columns': grid__columns|default('3'),
	'data-grid-count-class': grid__item__count,
	'data-grid-spacing': grid__spacing|default(''),
}) %}

{% set grid__inner__attributes = grid__inner__attributes|merge({
  'class': bem('inner', [], grid__base_class, grid__inner__additional_classes),
}) %}

{% if grid__separators %}
	{% set grid__attributes = grid__attributes|merge({
		'data-grid-separators': 'true',
	}) %}
{% endif %}

<div {{ add_attributes(grid__attributes) }}>
	{% block grid__heading %}{% endblock %}
	<div {{ add_attributes(grid__inner__attributes) }}>
		{% block grid__prefix %}{% endblock %}
		{% block grid__content %}
			{% for item in grid__items %}
				{% include "emulsify-ui-kit:layout/placeholder/placeholder.twig" with {
					place_holder: "Placeholder Content",
				} %}
			{% endfor %}
		{% endblock %}
		{% block grid__suffix %}{% endblock %}
	</div>
</div>
