{#
 # Available Variables:
 # - accordion__heading: (string)
 # - accordion__items: (array)
 # - accordion__show_controls: (boolean)
 #
 # Available Blocks:
 # - accordion__items
 #}

{% set accordion__base_class = 'accordion' %}

{% set accordion__attibutes = {
  'class': bem(accordion__base_class, accordion__modifiers, accordion__block_name),
} %}

{% if accordion__items|length >= 2 %}
  {% set accordion__show_controls = true %}
{% endif %}

{% set accordion %}
<div {{ add_attributes(accordion__attibutes) }}>
	{% if accordion__show_controls %}
		{% include "@components/accordion/_accordion-controls.twig" %}
	{% endif %}
	{% block accordion__items %}
		{% for item in accordion__items %}
			{# Create a unique ID for each accordion item #}
			{% set unique_id = random('1234567890') ~ random('1234567890') ~ random('1234567890') ~ random('1234567890') %}
			{% set accordion__item__content__id = 'accordion__item-' ~ unique_id ~ '-' ~ loop.index %}
      {% include "@components/accordion/_accordion-item.twig" with {
          accordion__item__heading: item.accordion__item__heading,
          accordion__item__content: item.accordion__item__content,
          accordion__item__heading__level: accordion__heading ? '3' : '2',
          accordion__item__content__attributes: {
            'id': accordion__item__content__id,
          }
        } %}
		{% endfor %}
	{% endblock %}
</div>
{% endset %}

{# Render the accordion within a generic container #}
{% embed "@layout/container/container.twig" with {
  container__component_width: accordion__width|default('compressed'),
  container__component_alignment: accordion__alignment|default('center'),
  container__heading: accordion__heading,
  container__text: accordion__text,
}%}
	{% block container__content %}
		{{ accordion }}
	{% endblock %}
{% endembed %}
