@use '../../tokens/tokens' as *;
@use '../../../src/stylesheets/mixins' as *;

.example {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--colors-white);
  padding: 0 !important;

  // max-width: var(--max-width);
  margin: 0 auto;
  min-height: 100vh;

  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-xl);
  }

  .logo {
    margin-right: auto;
  }

  .logo-text {
    fill: var(--colors-text-body);
  }

  .logo-mark {
    fill: var(--colors-primary-darker);
  }

  .logo + nav {
    margin-right: var(--spacing-xl);
  }

  .hero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: var(--colors-white);
    aspect-ratio: 16/7;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: var(--spacing-xl);

    &::after {
      content: '';
      position: absolute;
      background: var(--colors-primary-dark);
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      mix-blend-mode: multiply;
      opacity: 0.75;
    }

    > * {
      z-index: 10;
      position: relative;
    }

    h1 {
      font-size: var(--font-size-uber);
      line-height: var(--line-heights-none);
      letter-spacing: var(--letter-spacing-tight);
      max-width: 1000px;
      margin: 0 auto;
    }

    h2 {
      font-size: var(--font-size-display);
      line-height: var(--line-heights-none);
      letter-spacing: var(--letter-spacing-tight);
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  .watch {
    text-align: center;
    padding: var(--spacing-2xl) var(--spacing-xl);

    .watch-h2 {
      @include heading-large;

      font-size: var(--font-size-display);
      margin-top: 0;
    }
  }

  .watch-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2xl);
    max-width: 1000px;
    margin: var(--spacing-2xl) auto 0;
  }

  .celebrating {
    background: var(--colors-primary-lighter);
    text-align: center;
    padding: var(--spacing-2xl) var(--spacing-xl);

    &-h2 {
      @include heading-large;

      font-size: var(--font-size-display);
      max-width: 980px;
      margin: 0 auto;
    }
  }

  .celebrating-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-2xl);
    max-width: 775px;
    margin: var(--spacing-2xl) auto 0;
  }

  .footer {
    background: var(--colors-primary-darker);
    color: var(--colors-white);
    padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-2xl);
    margin-top: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .footer-content {
      margin-right: auto;
      display: flex;
      flex-flow: row nowrap;
      gap: var(--spacing-xl);
      align-items: center;
    }

    .logo-text {
      fill: var(--colors-white);
    }

    .logo-mark {
      fill: var(--colors-primary-lighter);
    }

    .social-menu--footer {
      flex-flow: row nowrap;
      gap: var(--spacing-lg);
    }

    .social-menu--footer .social-menu__link {
      color: var(--colors-primary-lighter);
      font-size: var(--font-size-display);

      &:hover {
        color: var(--colors-primary-light);
      }
    }

    .social-menu--footer .social-menu__icon {
      height: 28px;
      width: 28px;
    }

    .social-menu--footer .social-menu__text {
      display: none;
    }

    .footer-h3 {
      color: var(--colors-primary-lighter);
      font-size: var(--font-size-body);
    }

    .footer-links {
      @include list-reset;

      column-count: 2;
      max-width: 450px;
      font-size: var(--font-size-small);
      gap: var(--spacing-lg);
      line-height: var(--line-heights-tight);

      li {
        margin-bottom: var(--spacing-sm);
      }
    }
  }
}
