.pager {
  margin: var(--spacing-xl) 0;
}

.pager__items {
  @include list-reset;

  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0;
}

.pager__link {
  padding: var(--pager-padding-y) var(--pager-padding-x);
  color: var(--pager-color-text-default);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--pager-color-text-hover);
    background-color: var(--pager-color-fill-hover);
  }

  &.is-active {
    color: var(--pager-color-text-focus);

    &:hover,
    &:focus {
      color: var(--pager-color-text-hover);
    }
  }
}

.pager__link--next,
.pager__link--prev,
.pager__link--first,
.pager__link--last {
  display: block;
  padding: var(--pager-padding-y) var(--pager-padding-x);
}
